.card {
    color: white;
    background: #333;
    margin: 0.5rem;
    padding: 2rem;
    border-radius: 3px;
}
.survey-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.survey-btn {
    font-size: 2rem;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}
.survey-btn:hover {
    cursor: pointer;
    background: #555;
    scale: 102%;
}
.survey-btn:focus {
    outline: solid white 2px;
}
.selected {
    outline: solid white 2px;
}
.selected-survey {
    display: flex;
    flex-direction: column;
}
.survey-item {
    margin: 0;
}
.survey-question {
    margin: 0;
    padding: 1rem;
    border-radius: 3px;
}
.survey-question:hover {
    cursor: pointer;
    background: #555;
}
.survey-answer {
    margin-left: 1.5rem;
}